* {
    font-weight: 700;
}

body {
  padding-top: 50px;
  background-color: #dddddd;
}

#main-container {
    background-color: white;
    margin-top: 1.65em;
    margin-bottom: 40px;
}

#main-grid {
    margin-bottom: 1em;
}

.flash {
    background-color: #98FB98;
    width:100%;
    text-decoration: none;
}

.flash li {
    list-style-type: none;
    text-align: center;
}

.navbar {
    background-color: #03203F;
}

#site-name {
    color: #FFFFFF;
}

h1 {
    color: #032146;
}

a {
    font-size: 14px;
    color: #e64a19;
    line-height: 17px;
}

i {
    color: #7A7573;
}

.mb-1 {
  margin-bottom: 1em;
}

.navbar-btn {
    background-color: #e64a19;
    border-color: #e64a19;
    color: #FFFFFF;
}
