{% extends "main.html" %}
{% block content %}
<div class="row col-sm-6">
  <h1>Edit Item</h1>
  {% from "_formhelpers.html" import render_error_div %}
  <form action="{{ url_for('editItem', item_id=item.id )}}" method="post">
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control mb-1",
                   placeholder="Name of the item",
                   maxlength="50") }}
      {{ render_error_div(form.name) }}

      {{ form.description.label }}
      {{ form.description(class="form-control mb-1",
                          placeholder="Description of the item",
                          maxlength="1500",
                          rows="5") }}
      {{ render_error_div(form.description) }}
      
      <div class="select mb-1">
        <select name="category">
        {% for category in categories %}
            <option value="{{ category.name }}"{% if item.category == category %}selected="selected"{% endif %}>{{ category.name|title|replace("-", " ") }}</option>
        {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-orange" id="submit" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}
