{% extends "main.html" %}
{% block content %}
<h1>Add Item</h1>
<div class="row col-sm-6">
  {% from "_formhelpers.html" import render_error_div %}
  <form action="#" method="post">
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control mb-1",
                   placeholder="Name of the item",
                   maxlength="50") }}
      {{ render_error_div(form.name) }}

      {{ form.description.label }}
      {{ form.description(class="form-control mb-1",
                          placeholder="Description of the item",
                          maxlength="1500",
                          rows="5") }}
      {{ render_error_div(form.description) }}
      
      <div class="select mb-1">
        <select name="category">
        {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name|title|replace("-", " ") }}</option>
        {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-orange" id="submit" type="submit">Create</button>
    </div>
  </form>
</div>
{% endblock %}
